
.salaryDiv {
  margin: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;
}

.salaryText {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.messageDiv {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 0px;
  top: 340px;
  background-color: #fffdc8;
  text-align: center;
}

.messageTitle {
  margin-top: 4px;
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  color: #222222;
}
